body {
  height: 100vh;
  margin: 0;
  position: absolute;
}
.navbar {
  background-color: #f3ae5f;
}

.top-container {
  background-color: #0b87ba;
  padding: 50px 0px;
  position: relative;
}

.middle-container {
  background-color: #014d69;
  padding-top: 100px;
  position: relative;
  margin-top: 0%;
}
h1 {
  color: #014d69;
  font-family: "Sacramento", cursive;
  font-size: 8rem;
  margin: 50px auto 0 auto;
  text-align: center;
}

h2 {
  color: #f0f4f9;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  color: #f0f4f9;
  font-family: "Sacramento", cursive;
  font-size: 4rem;
}

h4 {
  color: #f0f4f9;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

p {
  color: #d38f5e;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.pro {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 5px solid #f3ae5f;
  font-size: 5rem;
}

.btn-circle {
  width: 100px;
  height: 100px;
  padding: 13px 18px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
}

.btn-res {
  background-color: #0b87ba;
}

.btn-hob {
  background-color: #f3ae5f;
}

.btn-cont {
  background-color: #f0f4f9;
}

.bottom-container {
  background-color: #f3ae5f;
}
